:root {
  --Purple: #854cff;
  --LightRed: #ff5757;
  --White: #fff;
  --OffWhite: #f0f0f0;
  --LightGrey: #dbdbdb;
  --SmokeyGrey: #716f6f;
  --OffBlack: #141414;
}

@font-face {
  font-family: Poppins;
  src: url("Poppins-Regular.d5d72893.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("Poppins-Bold.23054c2a.ttf");
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url("Poppins-ExtraBoldItalic.e2a3ccbd.ttf");
}

@font-face {
  font-family: Poppins-Italic;
  src: url("Poppins-Italic.7c038e0f.ttf");
}

body {
  background-color: var(--OffWhite);
  justify-content: center;
  width: 100%;
  display: flex;
}

input {
  box-sizing: border-box;
  color: var(--OffBlack);
  border: 1px solid var(--LightGrey);
  border-radius: 10px;
  width: 100%;
  height: 2.5em;
  padding-left: .7em;
  font-family: Poppins-Bold;
  font-size: clamp(1.3rem, 1.5vw, 2rem);
}

.container {
  background-color: var(--White);
  border-radius: 20px 20px 200px;
  flex-direction: column;
  width: 80%;
  max-width: 740px;
  min-height: 450px;
  max-height: 650px;
  margin: 50px 5% auto;
  display: flex;
}

.date-entry-section {
  border: none;
  gap: clamp(10px, 5vw, 30px);
  margin: 50px clamp(10px, 5vw, 50px) 0;
  display: flex;
}

.date-entry-section__date-entry {
  flex-direction: column;
  display: flex;
}

.date-input {
  color: var(--SmokeyGrey);
  letter-spacing: .2rem;
  margin-bottom: 10px;
  font-family: Poppins-Bold;
  font-size: .81rem;
  font-weight: 400;
}

.date-input-validation-error {
  color: var(--LightRed);
  margin-top: .3rem;
  font-family: Poppins-Italic;
  font-size: .8rem;
}

.separator {
  justify-content: right;
  align-items: center;
  width: 90%;
  height: 100px;
  margin: 0 auto 20px;
  display: flex;
}

.separator__line-left {
  background-color: var(--OffWhite);
  flex: 1;
  height: 2px;
}

.separator__arrow-button {
  box-shadow: none;
  background: url("arrow.e7712aac.jpg") 0 0 / cover no-repeat;
  border: none;
  border-radius: 50%;
  width: clamp(57px, 10vw, 96px);
  height: clamp(57px, 10vw, 96px);
}

.separator__line-right {
  flex: 0;
  height: 0;
}

.results-section {
  flex-direction: column;
  margin: 0 auto 40px clamp(10px, 7vw, 40px);
  display: flex;
}

.results-section__result {
  font-family: Poppins-ExtraBoldItalic;
  font-size: clamp(3.5rem, 10vw, 5.5rem);
  line-height: 1;
  display: flex;
}

.results-section__number {
  color: var(--Purple);
  margin-right: .2em;
}

@media (hover: hover) {
  input:hover, input:active {
    cursor: pointer;
    border-color: var(--Purple);
  }

  .separator__arrow-button:hover, .separator__arrow-button:active {
    cursor: pointer;
    box-shadow: none;
    background: url("arrow-active.d3b52dd2.jpg") 0 0 / cover no-repeat;
    border: none;
    width: clamp(57px, 10vw, 96px);
    height: clamp(57px, 10vw, 96px);
  }
}

@media (hover: none) {
  input:active {
    cursor: pointer;
    border-color: var(--Purple);
  }

  .separator__arrow-button:active {
    cursor: pointer;
    box-shadow: none;
    background: url("arrow-active.d3b52dd2.jpg") 0 0 / cover no-repeat;
    border: none;
    width: clamp(57px, 10vw, 96px);
    height: clamp(57px, 10vw, 96px);
  }
}

@media only screen and (width <= 600px) {
  .container {
    border-bottom-right-radius: 100px;
    width: 95%;
  }

  .separator__line-right {
    background-color: var(--OffWhite);
    flex: 1;
    height: 2px;
  }
}
/*# sourceMappingURL=index.c2b37ed4.css.map */
