:root{
    --Purple: hsl(259, 100%, 65%);
    --LightRed: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --OffWhite: hsl(0, 0%, 94%);
    --LightGrey: hsl(0, 0%, 86%);
    --SmokeyGrey: hsl(0, 1%, 44%);
    --OffBlack: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Poppins;
    src: url("/Users/dorotawojdecka/Kodowanie/age-calculator-app-main/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("/Users/dorotawojdecka/Kodowanie/age-calculator-app-main/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url("/Users/dorotawojdecka/Kodowanie/age-calculator-app-main/assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: Poppins-Italic;
    src: url("/Users/dorotawojdecka/Kodowanie/age-calculator-app-main/assets/fonts/Poppins-Italic.ttf");
}

body {
    background-color: var(--OffWhite);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

input {
    height: 70px;
    width: 160px;
    font-size: 32px;
    color: var(--OffBlack);
    font-family: Poppins-Bold;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--LightGrey);
    border-width: 1px;
}

input:hover,
input:active {
    cursor: pointer;
    border-color: var(--Purple);
}

div.arrow {
    height: 96px;
    width: 96px;
    background: url('/Users/dorotawojdecka/Kodowanie/age-calculator-app-main/assets/images/arrow.jpg');
    position: absolute;
    z-index: 1;
}
div.arrow:hover {
    cursor: pointer;
    background: url('/Users/dorotawojdecka/Kodowanie/age-calculator-app-main/assets/images/arrow-active.jpg');
}
.inputName {
    font-family: Poppins-Bold;
    color: var(--SmokeyGrey);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
    letter-spacing: .2rem;
}

input::placeholder {
    color: var(--OffBlack);
    font-size: 32px;
    font-family: Poppins-Bold;
}

.container{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    max-width: 840px;
    width: 80%;
    height: 650px;
    border-radius: 20px;
    border-bottom-right-radius: 200px;
}

.dates {
    display: flex;
    gap: 30px;
    margin: 50px;
    margin-bottom: 0px;
}

.date {
    display: flex;
    flex-direction: column;
}

.results {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 0px;
}

.result {
    display: flex;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 90px;
    line-height: 1.3;
    letter-spacing: 2px;
}

.number {
    color: var(--Purple);
}

.line {
    content: ''; /* Dodanie pustej treści */
    bottom: -10px; /* Odległość od dolnej krawędzi */
    left: 0; /* Początek linii od lewej strony */
    width: 100%; /* Szerokość linii */
    height: 2px; /* Grubość linii */
    background-color: var(--OffWhite); /* Kolor linii */
    margin-left: 50px;
}

.separator {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 40px;
    height: 100px;
}

.validationError {
    color: var(--LightRed);
    font-family: Poppins-Italic;
    font-size: 13px;
    margin-top: 5px;
    min-height: 20px;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 867px) {
    input {
        width: 100%;
    }

    .container {
        width: 90%;
    }
    
    .result {
        font-size: 70px;
    }

    .validationError {
        font-size: 11px;
    }

    .separator {
        justify-content: center;
        margin-right: 20px;
        margin-left: 20px;
    }

    .line {
        margin-left: 20px;
        margin-right: 20px;
    }

    .dates {
        margin-left: 30px;
    }

    .results {
        margin-left: 30px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 567px) {
    input {
        width: 100%;
    }

    .container {
        width: 95%;
    }
    
    .result {
        font-size: 65px;
    }

    .validationError {
        font-size: 10px;
    }

    .separator {
        justify-content: center;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .line {
        margin-left: 0px;
        margin-right: 0px;
    }

    .dates {
        margin-left: 20px;
    }

    .results {
        margin-left: 20px;
    }
}