:root {
    --Purple: hsl(259, 100%, 65%);
    --LightRed: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --OffWhite: hsl(0, 0%, 94%);
    --LightGrey: hsl(0, 0%, 86%);
    --SmokeyGrey: hsl(0, 1%, 44%);
    --OffBlack: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: Poppins-Italic;
    src: url("/assets/fonts/Poppins-Italic.ttf");
}

body {
    background-color: var(--OffWhite);
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    height: 2em;
    max-width: 160px;
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    color: var(--OffBlack);
    font-family: Poppins-Bold;
    border-radius: 10px;
    border: 1px solid var(--LightGrey);
    padding-left: 0.7em;
    /* width style color */
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    max-width: 840px;
    width: 80%;
    min-height: 450px;
    max-height: 650px;
    border-radius: 20px;
    border-bottom-right-radius: 200px;
    margin: 50px 5% auto 5%;
}

.date-entry-section {
    display: flex;
    gap: 5vw;
    margin: clamp(10px, 5vw, 50px);
    margin-bottom: 0px;
}

.date-entry-section__date-entry {
    display: flex;
    flex-direction: column;
    flex: 1, 1, 0px;
    min-width: 65px;
    max-width: 160px;
}

.date-input {
    font-family: Poppins-Bold;
    color: var(--SmokeyGrey);
    font-weight: 400;
    font-size: 0.81rem;
    margin-bottom: 10px;
    letter-spacing: .2rem;
}

.date-input-validation-error {
    color: var(--LightRed);
    font-family: Poppins-Italic;
    font-size: 13px;
    margin-top: 5px;
    min-height: 20px;
}

.separator {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    /*top right bottom left*/
    height: 100px;
}

.separator__line-left {
    flex: 1;
    height: 2px;
    background-color: var(--OffWhite);
}

.separator__arrow {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background: url('/assets/images/arrow.jpg');
}

.separator__line-right {
    flex: 0;
    height: 0px;
}

.results-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px clamp(10px, 7vw, 40px); /*top right bottom left*/
}

.results-section__result {
    display: flex;
    font-family: Poppins-ExtraBoldItalic;
    font-size: clamp(2rem, 10vw, 5.5rem); /*min, pref, max)*/
    line-height: 1;
}

.results-section__number {
    color: var(--Purple);
    margin-right: 0.2em;
}

@media (hover:hover) {
    input:hover,
    input:active {
        cursor: pointer;
        border-color: var(--Purple);
    }

    .separator__arrow:hover,
    .separator__arrow:active {
        cursor: pointer;
        background: url('/assets/images/arrow-active.jpg');
    }
}

@media (hover:none) {
    input:active {
        cursor: pointer;
        border-color: var(--Purple);
    }

    .separator__arrow:active {
        cursor: pointer;
        background: url('/assets/images/arrow-active-mobile.jpg');
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
        border-bottom-right-radius: 100px;
    }

    .separator__line-right {
        flex: 1;
        height: 2px;
        background-color: var(--OffWhite);
    }
    
    .separator__arrow {
        height: 57px;
        width: 57px;
        background: url('/assets/images/arrow-mobile.jpg');
    }
}